<form autocomplete="off">
    <div class="autocomplete" style="width:300px;  position: relative;
    display: inline-block;">
<input 
    class="search-box"
    type="text" 
    placeholder="search" 
    (input)="searchImage($event)" 
    (keyup)="sendData($event)"
>
</div>
<!-- <div class="autocom-box">
<p>hhhhhhhhhhh</p>
<p>hhhhhhhhhhh</p>
  </div> -->
</form>
<!-- <section class="search-results">
    <p>hiiiii</p>
    <hr> -->
    <!-- <div class='newsCard news-Slide-up' onmouseover="onMouseOver('{m.imdbID}')">
        <img src="${m.Poster}" class="result-image" />
                
        <div id="search_hover_${m.imdbID}" class='newsCaption'>   
        </div>
        </div> -->
<!-- </section> -->